
<h2>Edit Report</h2>

<form action="/reports/<%= @report.id %>" method="post">

   <input id="hidden" type="hidden" name="_method" value="patch">
   
   <div>
   <label for="date">Date: </label>
   <input type="date" name="report[date]" value="<%= @report.date.strftime("%Y-%m-%d") %>"><br>
   </div>
   
   <div>
   <label for="user_id">User_id: </label>
   <input type="text" name="report[user_id]" value="<%= @report.user_id%>"><br>
   </div>
   
   <div>
   <label for="subjects">Subjects: </label>
   <input type="text" name="report[subjects]" value="<%= @report.subjects %>"><br>
   </div>
   
   <div>
   <label for="comment">Comment: </label>
   <textarea type="text" name="report[comment]" value="<%= @report.comment %>"></textarea><br>
   </div>
   
   <div>
   <label for="due_date">Due_date: </label>
   <input type="date" name="report[due_date]" value="<%= @report.due_date.strftime("%Y-%m-%d") %>"><br>
   </div>
   


  <input type="submit" value="Save Changes">
</form>


