

    <h3><%= @report.date %></h3>

<ul class="list-group list-group-flush">

<li class="list-group-item">Comments: <%= @report.comment %></li>
  
 
  <li class="list-group-item">Due_date: <%= @report.due_date %></li>

 
  <li class="list-group-item">User_id: <%= @report.user_id %></li>
  <li class="list-group-item">subjects: <%= @report.subjects %></li>


</ul>

<% if current_user == report.user %>
<a href= "/reports/<%= @report.id %>/edit">Edit Report</a>

    <form action="/reports/<%= @report.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>

  <% end %>
